<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body style="overflow-x: hidden;">
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom: 45px;" data-bs-theme="light"
     th:fragment="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/cinema.png" width="45px" class="d-inline-block align-text-left"/>
            <span style="margin-left: 20px;">Кинопортал</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ">
                <li class="nav-item me-3">
                    <a class="nav-link" href="/movies">Фильмы</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="/actors">Актеры</a>
                </li>
            </ul>

            <ul class="navbar-nav justify-content-center mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="d-flex align-items-center flex-grow-3">
                        <form th:action="@{/search}" method="get" class="d-flex align-items-center" >
                            <input th:text="${text}" class="form-control me-2" style="width:650px;" type="search" name="text"
                                   placeholder="Поиск..." aria-label="Поиск"/>
                            <button class="btn btn-outline-success" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </button>
                        </form>
                    </div>

                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="login" sec:authorize="!isAuthenticated()">Войти</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div class="d-flex flex-row align-items-center">
                        <a sec:authentication="name" href="/user"
                           class="nav-link link-underline link-underline-opacity-0">Name</a>
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-danger btn-sm ms-2">Выйти</button>
                        </form>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</nav>
</body>
</html>