<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{navbar::navigation}"></div>
    <p> Привет, <h2 sec:authentication="name"></h2></p>


    <ul th:if="${not #lists.isEmpty(favoriteMovies)}" class="list-group list-group-flush">
        <h1>Любимые фильмы:</h1>
        <li th:each="item : ${favoriteMovies}" class="list-group-item">
            <a th:href="@{/movies/{id}(id=${item.movie.movieId})}"  th:text="${item.movie.title}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"></a>
        </li>
    </ul>

    <ul th:if="${not #lists.isEmpty(favoriteActors)}" class="list-group list-group-flush">
        <h1>Любимые актеры:</h1>
        <li th:each="item : ${favoriteActors}" class="list-group-item">
            <a th:href="@{/actors/{id}(id=${item.actor.actorId})}"  th:text="${item.actor.fullname}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"></a>
        </li>
    </ul>

</body>
</html>